.container2{
    margin: 30px auto;
    display: flex;
    flex-direction: column;
}

span{
    color: #0891B2;
    display: block;
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.4rem;
}

h3{
    margin: 10px 0 0;
}

p{
    color: #666;
    line-height: 1.4;
    margin: 10px 0 0;
}

button{
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 5px;
    margin-top: 10px;
    background-color: #007BFF;
    font-size: 0.9rem;
}

